canvas {
    border:1px solid black;
    background-color: #f1f1f1;
}
body {
    margin-left: 20%;
    padding: 0;
	background: black;
    /*background: grey;*/
	color:grey;
}
#Restart {
	position: absolute;
	top: 10%;
	right: 1%;
	height: 70px;
	border-radius: 10px;
	border: none;
	background: linear-gradient(grey, black);
	color: black;
            transition: 1s;
}
#Restart:hover
        {
            color:red;
            transition: 1s;
            transform: scale(1.2, 1.2);
        }
.button {     
	background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}