body
{
    margin: 0;
    padding: 0;
    background-image: url("resources/background.jpg") ;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(0, 0, 0);
}
#motto
{
    /*position: absolute;*/
    font: 24px Dosics;
    text-align: center;
    padding-top: 25px;
    height: 75px;
    /*border: 1px solid;*/
    color: white;
}
#form
{
    /*position: relative;*/
    background-color: black;
    padding: 30px !important;
    margin: 0px auto;
    width: 400px;
    height: 450px;
    border: 1px solid;
    /*border-radius: 1px;*/
    margin-left: 666px; /* change */
    margin-top: 127px;  /* change */
    padding: 5px;
}

#fields
{
    /*position: absolute;*/
    /*border: 1px solid;*/
    margin-top: 25px;
}

input[type=submit]
{
    width: 100%;
    height: 60px;
    background-color: #447FB4;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=submit]:hover
{
    background-color: #386F9E;
    /*font: 22px Sans-serif;*/
}

input[type=text], input[type=password]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font: 18px Sans-serif;
    display:block;
    border:none;
    border-bottom:1px solid #ccc ;
}

#callofgame
{
    margin-top: 170px;
    text-align: center;
    /*position: absolute;*/
    color: white;
}

#callofgame a
{
    text-align: center;
    color: #50AFF0;
    text-decoration: none;    
}

#callofgame a:hover
{
    color: #437CB4;
    text-decoration: none;
}

        .clans
        {
            margin-left: 6%;
        }
        #al_rads
        {
            position: relative;
            margin-left: 20px;
        }
        #subm
        {
            position: absolute;
        }

















